.leaflet-control-legend-icon {
  display: inline-block;
  position: relative;
  margin-top: 2px;
  margin-right: 4px;
  top: 1px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  
  height: 13px;
  width: 13px;
  border-radius: 2px;
}

.leaflet-control-legend-labels {
  padding: 2px;
  margin: 0;
}

.leaflet-control-legend-title {
  margin: 0;
}

.leaflet-control-legend {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: padding-box;
}