ul.legend-labels li span {
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  border: 1px solid #999;
}

.legend-labels {
  list-style: none;
  padding: 2px;
  margin: 0;
}

.legend-labels li {
  padding-top: 4px;
}

.legend-title {
  margin: 0;
}

.leaflet-control-legend {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}