.leaflet-popup-content-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.popup-media {
  padding-top: 8px;
}

.popup-name {
  font-size: 18pt;
  font-weight: bold;
}

.popup-years {
  font-size: 14pt;
  font-style: italic;
}

.popup hr {
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.popup-contents {
  padding: 10px 0px;
}

.popup-contents button {
  padding: 8px;
  background-color: white;
  border: 1px solid rgb(172, 172, 172);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.popup-contents button:hover {
  background-color: rgb(233, 233, 233);
}

.leaflet-container a.leaflet-popup-close-button {
  right: -28px;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: red;
}
